.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: $color-1;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
}

#searchBar {
  background-color: white;
  width: 340px;
  height: 40px;
  border-radius: 30px;
  padding: 0 20px;
  border: solid 2px rgb(201, 201, 201);
  margin-bottom: 30px;

  &:focus-visible {
    border: solid 2px $color-1;
    outline: none;
  }
}

.flex-container {
  margin: 0 20px;
  display: flex;
  width: calc(100% - 40px);
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card-container {
  flex: 0 0 20%;
  min-width: 320px;
  padding: 30px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px $color-1;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

  h3 {
    margin: 0 0 20px 0;
    height: 48px;
  }

  .img-container {
    height: 260px;
    width: 260px;
    background-color: black;
    margin: 30px 20px;
    border-radius: 10px;

    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }
  .description {
    height: 220px;
    overflow: hidden;
  }

  .popup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    position: fixed;

    .container {
      h3 {
        margin-top: 30px;
        height: 30px;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: 75%;
      background-color: $white;
  
      p {
        width: 75%;
        overflow: auto;
      }
    }
  }
}
